<a href="https://colab.research.google.com/github/shashank-r97/NLP/blob/master/Data_Merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
%%time
df = pd.read_csv('/content/drive/My Drive/DSO 560/Full+data.csv')[['product_id', 'brand', 'name', 'description', 'brand_category', 'details', 'labels']]

CPU times: user 945 ms, sys: 151 ms, total: 1.1 s
Wall time: 1.15 s

<string>:2: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.

In [3]:
df.head()

                   product_id  ...                labels
0  01DSRPSZTDW2PGK1YWYXJGKZZ0  ...  {"Needs Attributes"}
1  01DSQXJBX0R7DCW7KTAC1SW547  ...      {"Needs Review"}
2  01DPGV8TGRAB993PF7Z3YWG2VR  ...                    {}
3  01DSR8G3F7DBRTMP8THF97XSQ2  ...      {"Needs Review"}
4  01DSR8G5GP519DEDCSKBMWQVK5  ...      {"Needs Review"}

[5 rows x 7 columns]

In [4]:
%%time
tags = pd.read_excel('/content/drive/My Drive/DSO 560/USC+Product+Attribute+Data+03302020.xlsx')

CPU times: user 826 ms, sys: 9.96 ms, total: 836 ms
Wall time: 839 ms

In [5]:
tags.head()

                   product_id  ... attribute_value
0  01DVBTBPHR8WJTCVEN5AJRHF47  ...           Women
1  01DVA7QRXM928ZM0WWR7HFNTC1  ...          Blacks
2  01DPGV4YRP3Z8J85DASGZ1Y99W  ...          Casual
3  01E1JM43NQ3H17PB22EV3074NX  ...          Modern
4  01DSE8Z2ZDAZKZ2SKCS1E3B3HK  ...          Medium

[5 rows x 4 columns]

In [6]:
tags = df[['product_id']].merge(tags, on = 'product_id', how = 'left')
tags.head()

                   product_id product_color_id attribute_name attribute_value
0  01DSRPSZTDW2PGK1YWYXJGKZZ0              NaN            NaN             NaN
1  01DSQXJBX0R7DCW7KTAC1SW547              NaN            NaN             NaN
2  01DPGV8TGRAB993PF7Z3YWG2VR              NaN            NaN             NaN
3  01DSR8G3F7DBRTMP8THF97XSQ2              NaN            NaN             NaN
4  01DSR8G5GP519DEDCSKBMWQVK5              NaN            NaN             NaN

In [0]:
df['attribute_name'] = tags['attribute_name']
df['attribute_value'] = tags['attribute_value']

In [8]:
%%time
add_tags = pd.read_csv('/content/drive/My Drive/DSO 560/usc_additional_tags.csv')

CPU times: user 90 ms, sys: 4.16 ms, total: 94.2 ms
Wall time: 100 ms

In [9]:
add_tags = df[['product_id']].merge(add_tags, on = 'product_id', how = 'left')
add_tags.head()

                   product_id product_color_id attribute_name attribute_value
0  01DSRPSZTDW2PGK1YWYXJGKZZ0              NaN            NaN             NaN
1  01DSQXJBX0R7DCW7KTAC1SW547              NaN            NaN             NaN
2  01DPGV8TGRAB993PF7Z3YWG2VR              NaN            NaN             NaN
3  01DSR8G3F7DBRTMP8THF97XSQ2              NaN            NaN             NaN
4  01DSR8G5GP519DEDCSKBMWQVK5              NaN            NaN             NaN

In [0]:
df['attribute_name'] = df['attribute_name'].fillna(add_tags['attribute_name'])
df['attribute_value'] = df['attribute_value'].fillna(add_tags['attribute_value'])

In [11]:
df.head()

                   product_id  ... attribute_value
0  01DSRPSZTDW2PGK1YWYXJGKZZ0  ...             NaN
1  01DSQXJBX0R7DCW7KTAC1SW547  ...             NaN
2  01DPGV8TGRAB993PF7Z3YWG2VR  ...             NaN
3  01DSR8G3F7DBRTMP8THF97XSQ2  ...             NaN
4  01DSR8G5GP519DEDCSKBMWQVK5  ...             NaN

[5 rows x 9 columns]

In [12]:
train = df[df['attribute_name'].isna() == False]
train.shape

(18470, 9)

In [13]:
test = df[df['attribute_name'].isna() == True]
test.shape

(23903, 9)

In [14]:
%%time
train.to_csv('/content/drive/My Drive/DSO 560/train.csv', index = False)

CPU times: user 237 ms, sys: 14.1 ms, total: 251 ms
Wall time: 280 ms

In [15]:
%%time
test.to_csv('/content/drive/My Drive/DSO 560/test.csv', index = False)

CPU times: user 318 ms, sys: 11.9 ms, total: 330 ms
Wall time: 381 ms

In [16]:
names = []
sizes = []
for name in df['attribute_name'].unique()[1:]:
    names.append(name)
    sizes.append(df[df['attribute_name'] == name].shape[0])
attr = pd.DataFrame()
attr['names'] = names
attr['sizes'] = sizes
attr = attr.sort_values(by = 'sizes', ascending = False)
attr.head(10)

                names  sizes
5               style   3441
2            occasion   2725
9            category   1044
7              gender   1003
4                 fit    804
1              sizing    777
6   material_clothing    732
10      Primary Color    611
0            neckline    488
12     dry_clean_only    446